<!DOCTYPE html>
<html>
<head>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

	<!-- Optional theme -->
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

	 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
	<script type="text/javascript" src="./app.js"></script>

</head>
<body>

	<div id='content' ng-app='NICApp' ng-controller='MainController'>

		<input type='text' ng-model='nicNumInput' />
		
		<!-- submit button -->
		<button type="submit" class="btn btn-primary btn-lg" ng-click="getInfo()">Send</button>

		<div ng-repeat="(name,data) in nicData">
						<p> {{name}} : {{data}}</p>

		</div>

		

	</div>

</body>