<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>NIC Info</title>
<link href="tools/style.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="tools/jquery.min.js"></script> 
<script type="text/javascript" src="tools/cufon-yui.js"></script>
<script type="text/javascript" src="tools/Abraham_Lincoln_400.font.js"></script>
<script type="text/javascript" src="tools/Inspiration_400.font.js"></script>
<script type="text/javascript" src="tools/Museo_Slab_100_400-Museo_Slab_700_400.font.js"></script>
<script type="text/javascript">
	Cufon.replace('.logo h1', {fontFamily: 'Inspiration'});
	Cufon.replace('.logo h2', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('.logo h2 span', {fontFamily: 'Abraham Lincoln'});
	Cufon.replace('p.big_text, p.small_text', {fontFamily: 'Museo Slab 100'});
	Cufon.replace('p.big_text strong, p.small_text strong', {fontFamily: 'Museo Slab 700'});
</script>

<!-- Angular -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
<script type="text/javascript" src="./app.js"></script>


</head>
<body>
<div id="transy">
</div>
<div id="wrapper">
	<div class="logo"><h1>NIC Info</h1><h2><strong class="one"></strong>Know Who You Are<strong class="two"></strong></h2></div>
	<div class="content">
		<p class="big_text">Enter a <strong>valid Sri Lankan National Identity Card number</strong> below.</p>
		<p class="small_text">Get <strong>all the information</strong> of that number!</p>
		<div id='content' ng-app='NICApp' ng-controller='MainController'>
		<div class="form">
			<div class="field_content">
				<input class="field" type="text" ng-model='nicNumInput' />
				<input class="submit" type="button" value="" ng-click="getInfo()" />
			</div>
		</div>
		<div class="clear"></div>
		<ul class="social">
			<!-- <li class="pinterest"><a href="#"></a></li> -->
			<!-- <li class="instagram"><a href="#"></a></li> -->
			<li class="twitter"><a href="#"></a></li>
			<li class="facebook"><a href="#"></a></li>
		</ul>
		<hr>
		<div ng-show="nicData.number.length" style="padding-top:1em"></div>
		<div ng-repeat="(name,data) in nicData">
						<p> {{name}} : {{data}}</p>

		</div>
		
		
	</div>
</div>
</div>
</body>
</html>
